p {
    font-size: 40px;
}

section{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 225, 181);
}

div{ /* always relative to parent's dimension */
    width:50%;
    height:50%;
    background-color: cadetblue;
}

/* ul>li{ 
    font-size:2em ; 
    font-size: 2rem;
}  */
/* this creates a snow ball effect  */



/* vw: view width & vh: view height */

div{
    background-color: chartreuse;
    width: 100vw;
    height:100vh;
}





