p::first-letter{
    font-size: 40px;
    background-color: aquamarine;
    color:black;
}

p::first-line{
    background-color:beige;
    font-size: 50px;
}

p::before{
   content:'\1f62b' ;
}


p::after{
    content:'  Hi, I am Tanisha' ;
}